* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: radial-gradient(circle at 0% 100%, #6e47bc 0, #4630aa 50%, #001b98 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.container img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

h1 {
    margin-bottom: 4%;
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffff;
}

div input[type="text"] {
    margin-bottom: 2%;
    font-size: 2rem;
    border-radius: 10px;
    border-color: rgb(69, 26, 109);
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 20px;
}

div button {
    font-size: 1.5rem;
    background-color: rgb(49, 27, 150);
    border-radius: 5px;
    border: 0 solid transparent;
    padding: 0.5rem 1rem;
    margin-top: 2%;
    color: #ffff;
    cursor: pointer;
}

div button:hover {
    background-color: rgb(65, 63, 192);
}

div #resultado {
    font-size: 1.5rem;
    color: #ffff;
    margin-bottom: 1rem;
}

@media (max-width: 412px) {
    h1 {
        padding-bottom: 2rem;
        font-size: 2.5rem;
    }

    div input[type="text"] {
        width: 92%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    div button {
        margin-top: 1rem;
    }
}
